
*{
    margin: 0;
    padding: 0
}

/*----------- Screen Overlay ------------*/
.overlay{
   width: 100%;
   height: 100vh;
   background-color:  rgb(0, 0, 0, 0.5);;
   position: fixed;
   top: 0;
   opacity: 0;
   z-index: -1;
   transition: 1s;
}
.show-overlay{
   opacity: 1;
   z-index: 1;
}


/*----------- Navbar CSS Start ------------*/

#nav-bar{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}
#nav-bar>nav:nth-child(1){
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid blue; */
}
#nav-bar>nav img{
    width: 180px;
}
#nav-bar>nav:nth-child(1)>div{
    display: flex;
    width: 70%;
    justify-content: space-between;
    /* border: 2px solid navajowhite; */ 
}

nav>div div{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}
nav>div div>span i{
    display: block;
    font-size: 20px; 
    display: flex;
    align-items: center;
    margin: auto;
}

#nav-bar input{
    width: 230px;
    padding: 14px;
    border: none;
    outline: none;
    margin: auto;
}

#nav-bar>nav:nth-child(2){  
   width: 35%;
   display: flex;
   justify-content: space-around;
}
#nav-bar>nav:nth-child(2)>div{
    text-align: center;
}
#nav-bar>nav:nth-child(2) i{
    font-size: 16px;
}

#nav-bar>nav:nth-child(2)>div p{
 text-align: center;
 margin-top: 10px;
}
#nav-bar>nav:nth-child(2)>div>p:nth-child(2){
    font-size: 13px;
    font-weight: bold;
}

#nav-bar>nav:nth-child(2)>div:hover{
   cursor: pointer;
   color: #ed184a;
}

/*----------- Sub Navbar CSS Start ------------*/

 #sub-nav-bar{
    display: flex;
    width: 100%;    
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    
 }
 #sub-nav-bar>nav{
    display: flex;
    width: 80%;
    justify-content: space-between;
   
 }
 #sub-nav-bar a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    
 }

 /*----------- Slider CSS Start ------------*/

 #slider{
    width: 100%;
 }
 #slider>img{
    width: 100%;
 }

 /*----------- Drop Down list Flower Start ------------*/

 #drop-down-flower{
    display: none;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
    width: 50%;
    position: absolute;
    top: 121px;
    left: 70px;
    background-color: white;   
 }
 

 #drop-down-flower>div a{
    display: block;
    text-decoration: none;
    margin-top: 8px;
 }

 #sub-nav-bar>nav>a:hover{
    color: red;
    cursor: pointer;
    /* border-bottom: 2px solid rgb(8, 64, 8); */
 }

/*----------- Drop Down list Plant ------------*/
#drop-down-plant{
    display: none;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
    width: 40%;
    position: absolute;
    top: 121px;
    left: 230px;
    background-color: white;   
 }
 #drop-down-plant>div a{
    display: block;
    text-decoration: none;
    margin-top: 8px;
 }

 /*----------- Drop Down list Gift  ------------*/

#drop-down-gift{
    display: none;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
    width: 70%;
    position: absolute;
    top: 121px;
    left: 350px;
    background-color: white;   
 }
 #drop-down-gift>div a{
    display: block;
    text-decoration: none;
    margin-top: 8px;
 }

  /*----------- Drop Down list Birthday------------*/

 
  #drop-down-birthday{
    display: none;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
    width: auto;
    gap: 60px;
    position: absolute;
    top: 121px;
    left: 510px;
    background-color: white;   
 }
 #drop-down-birthday>div a{
    display: block;
    text-decoration: none;
    margin-top: 8px;
 }

 /*----------- Drop Down list Anniversary ------------*/

 #drop-down-anniversary{
    display: none;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
    width: auto;
    gap: 60px;
    position: absolute;
    top: 121px;
    left: 670px;
    background-color: white;   
 }
 #drop-down-anniversary>div a{
    display: block;
    text-decoration: none;
    margin-top: 8px;
 }

 /*----------- Drop Down list Cakes ------------*/

 #drop-down-cake{
    display: none;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
    width: auto;
    gap: 60px;
    position: absolute;
    top: 121px;
    left: 300px;
    background-color: white;   
 }
 #drop-down-cake>div a{
    display: block;
    text-decoration: none;
    margin-top: 8px;
 }

 /*----------- Drop Down list Gift  Cakes ------------*/

 #drop-down-personalised{
    display: none;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
    width: auto;
    gap: 60px;
    position: absolute;
    top: 121px;
    left: 750px;
    background-color: white;   
 }
 #drop-down-personalised>div a{
    display: block;
    text-decoration: none;
    margin-top: 8px;
 }


 /*-------------- Product Box After the Image Slider CSS ------------- */

 .blank{
    height: 40px;
    margin-top: 0px;
    background-color: #edf1f7;
 }

#heading{
   margin: 20px 0px 20px 60px;
    background-color: white;

}
 .product-box{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 50px;
    
 }
 .product-box>div{
    width: 150px;;
    height: 150px;
    border-radius: 50%;
    
 }

 .product-box>div img{
    display: flex;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
 }

 .product-box>div img:hover{
    width: 140px;
    height: 140px;
 }

 .product-box>div:hover{
    border: 1.5px solid rgb(111, 110, 110);
    width: 140px;;
    height: 140px;
    padding: 3px;
 }
 .product-box>div h3{
    text-align: center;
    margin-top: 10px;
 }

/*-------------- Popular Categories Box ------------- */

.popular-categories{
    width: 100%;
    background: linear-gradient(#fc7850, #ff5b6d);
      
}

.popular-categories>div:nth-child(1){
    margin-left: 40px;
    color: #edf1f7;
    line-height: 40px;
    padding: 40px 0px;
    font-size: 20px;
}

.popular-categories>div:nth-child(2){
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;
    

}

.popular-categories>div:nth-child(2) img{
    width: 20%;
    margin: auto;
    border-radius: 10px;
}

/*--------------------- Send Flowers Online ------------------------*/

 .product-flower{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    background-color: white;
    box-sizing: border-box;
    padding: 30px;
 }
 
 .product-flower>div img{
    display: flex;
    margin: auto;
    width: 200px;
    height: 200px;
    transition: all 0.5s;
 }

 .product-flower>div img:hover{
    width: 220px;
    height: 220px;
 }
 .product-flower>div h3{
    text-align: center;
    margin-top: 20px;
 }


/*--------------------- Send Combos ------------------------*/


.product-combos{
   display: flex;
   justify-content: space-around;
   width: 100%;
   background-color: white;
   box-sizing: border-box;
   padding: 30px;
   padding-bottom: 50px;
   
}
.product-combos>div{
   width: 250px;;
   height: 250px;
   border-radius: 50%;
   border: 2px solid red;
   
}

.product-combos>div img{
   display: flex;
   margin: auto;
   width: 250px;
   height: 250px;
   border-radius: 50%;
}

.product-combos>div img:hover{
   width: 240px;
   height: 240px;
}

.product-combos>div:hover{
   border: 1.5px solid rgb(111, 110, 110);
   width: 240px;;
   height: 240px;
   padding: 3px;
}
.product-combos>div h3{
   text-align: center;
   margin-top: 10px;
}

/*---------------------Description------------------------*/

.desc-website{
   padding: 30px 60px;
}
.desc-website> h1{
   margin-bottom: 20px;
}
.desc-website> p{
   line-height: 25px;
    text-indent: 60px;
    text-align: justify;
}

/*--------------------- footer ------------------------*/

#footer{
   background-color: #f7f7f7;
   padding-top: 20px;
   border-top: 1px solid grey;
}

#footer>div:nth-child(1){
   display: flex;
   justify-content: space-around;
   border-bottom: 1px solid grey;
   padding-bottom: 10px;
}

#footer>div:nth-child(1)>div:nth-child(1){
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 20px; 
}

#footer>div:nth-child(1)>div:nth-child(1) i{
   font-size: 30px;
   margin-top: 15px;
   color: #ed184a;
   margin-right: 8px;
}
#footer>div:nth-child(1)>div:nth-child(1) i:hover{
    color: #739518;
}



#footer>div:nth-child(1)>div+div{
   display: flex;
   width: 30%;
   justify-content: space-between;
   line-height: 25px;
}

#footer>div:nth-child(1)>div:nth-child(3){
   display: block;
}

#footer>div:nth-child(1)>div:nth-child(3)>div:nth-child(1){
   display: flex;
   align-items: center ;
   gap: 20px;
   font-size: 22px;
   margin-left: 22px;
}

#footer>div:nth-child(1)>div:nth-child(3)>div:nth-child(2){
display: flex;
justify-content: space-evenly;
margin-top: 20px;
}
#footer>div:nth-child(1)>div:nth-child(3)>div:nth-child(2) img{
   width: 35%;
}

#footer>div:nth-child(2){
   display: flex;
   justify-content: space-around;
   align-items: center;
}

#footer>div:nth-child(2)>div{
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 20px 0px;
}